.leftSideMenuSection {  
  background-color: rgba(239, 235, 235, 0.886);
  box-shadow: 2px 0 5px rgba(71, 25, 25, 0.5);
  width: 15%;
  height: 86vh;
}

@media screen and (max-width: 1024px) {
	.leftSideMenuSection {      
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
	.leftSideMenuSection {    
    height: auto;
    width: 99.6%;
  }
}

.leftSideMenuContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 20px ;
  align-items: center;
  font-size: 1rem;  
  font-family: 'Courier Prime', monospace;
}
@media screen and (max-width: 624px) {
	.leftSideMenuContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
   
  }
}

.courseName {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  padding: 10px 3px;
  border: 1px solid black;
  border-radius: 8px;  
}

.courseName:hover {
  opacity: 90%;
  cursor: pointer;  
}

.courseNameSelected {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 10px 0;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;  
}
