.appContainer {
    background-image: url("map12.jpg");
    padding: 10px 30px;
    background-size:cover;
    background-position: 170px -200px;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
	.appContainer {
        background-position: -280px 150px;
        background-size:auto;
    
  }
}

html {
    scroll-behavior: smooth;
  }