/* body {
    background-color: #F0F0F0;
    color: #333333;
    font-family: Arial, sans-serif;
  }
  
  header, footer {
    background-color: #00529D;
    color: #FFFFFF;
    padding: 20px;
  }
  
  a {
    color: #40E0D0;
  }
  
  a:hover {
    color: #FF6347;
  }
  
  button {
    background-color: #FFD700;
    color: #333333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FF6347;
  }
  
  .secondary-text {
    color: #607262;
  }
  
  .border {
    border: 1px solid #607262;
  } */

/* 
  body {
    background-color: #FFFFFF;
    color: #2F4F4F;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  header, footer {
    background-color: #00529D;
    color: #FFFFFF;
    padding: 20px;
  }
  
  a {
    color: #00CED1;
    text-decoration: none;
  }
  
  a:hover {
    color: #FF4500;
  }
  
  button {
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FF4500;
  }
  
  .secondary-text {
    color: #607262;
  }
  
  .border {
    border: 1px solid #607262;
  }
  
  .highlight {
    background-color: #B3C100;
    color: #FFFFFF;
    padding: 5px;
  } */