.rightSideMenu {
  position: absolute;
  background-color: rgba(30, 29, 29, 0.501);
  z-index: 100;
  display: flex;
  inset: 0;
  height: 100vh;
  width: 99.8%;
  font-size: 1.5rem;
  /* box-shadow: -2px 0 5px rgba(186, 27, 27, 0.1); */
  overflow: hidden;
  /* transition: right 0.5s; */
  
}




.lessonContainer {
  background-color: rgb(221, 218, 218);
  width: 25%;
  position: absolute;
  right: 0;
  height: 100vh;
  padding: 20px;
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
	.lessonContainer {
    width: 60%;
    
  }
}

.lessonTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}


.urlsContainer {
	margin-bottom: 50px;
  }
  
  .urlsContainer a {
	font-size: 1rem;
	text-decoration: none;
	color: #003366;
  }
  
  .urlsContainer a:hover {
	color: #8a9a5b;
  }

.urlsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 0.5rem;
  font-size: 1rem;
}

.closeRightMenuContainer {
  display: flex;
  justify-content: end;
  font-size: 30px;
  cursor: pointer;
}

.closeRightMenuButton:hover {
  color: red;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #abd95f;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #a1cc5c;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #abd95f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 8px;
  height: 10px;
  border: solid rgb(51, 50, 50);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
