.roadmapTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;  
  font-family: "Courier Prime", monospace;
  
}

.roadmapText {
  font-size: 1.5rem;
  font-weight: 600;  
  /* border: 1px solid black;
  border-radius: 5px; */
  padding: 10px 20px;
}

.roadmapContainer {
  width: 84%;
  height: 86vh;
  background-color: rgba(239, 235, 235, 0.886);
  box-shadow: 2px 10px 5px rgba(71, 25, 25, 0.5);
}

