.aboutAppContainer {
  width: 84%;
  height: 86vh;
  background-color: rgba(239, 235, 235, 0.952);
  box-shadow: 2px 10px 5px rgba(71, 25, 25, 0.5);
  padding: 50px 50px;
  font-family: "Courier Prime", monospace;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
	.aboutAppContainer {
    width: 99.6%;
    padding: 20px 20px;
    
  }
}

.appDescription {
  width: 80%;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 2rem;
  margin-top: 50px;
}

.logo-about {
  height: 20px;
  width: 20px;
}

.welcomeSignup {
    text-decoration: none;
    color: black;
    background-color: #ABD95F;
    padding: 5px 15px;
  border-radius: 50px;
}

.welcomeSignup:hover {
    background-color:#A1CC5C
}

.compassContainer {
 
  display: flex;
  justify-content: center;
}

.compass {
  height: 80px;
  width: 80px;
  color: rgba(25, 24, 24, 0.61)
}
