.loginContainer {
  background-color: rgba(239, 235, 235, 0.886);
  box-shadow: 2px 0 5px rgba(71, 25, 25, 0.5);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpLinkContainer {
  display: flex;  
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  background: transparent;
  color: #5d5c5c;
  gap: 10px;
  font-family: "Courier Prime", monospace;
  /* border: solid 2px #757575; */
  
  }


  .signUpLink {
    color:blue
  }
  .signUpLink:hover {
    text-decoration: underline;
    cursor: pointer;
  }  

  input::placeholder {
    font-size: 15px;
  }
  input:focus {
    border: 1px solid black;
  }
  .input {
    border: 1px solid black;
  }

  .inputEmpty {
    border: 1px solid red;
  }

  .forgotPasswordLink {
    text-decoration: none;
  }

  .submitBtn:hover {
    cursor: pointer;
  }

  .textMessage {
    color: red;
    height: 20px
  }
  