.navbarSection {
  background-color: rgba(239, 235, 235, 0.886);
  box-shadow: 2px 0 5px rgba(71, 25, 25, 0.5);
  margin-bottom: 10px;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  height: 10%;
  align-items: center;
  width: 99.5%;
  font-family: 'Courier Prime', monospace;
  
}

.navLink {
  margin-right: 1rem;
  text-decoration: none;
  font-size: 20px;
  color: rgb(48, 47, 47);
}

.navLink:hover {
  cursor: pointer;
}

.loginLogoutContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px
}


@media screen and (max-width: 768px) {
  .loginLogoutContainer {
    flex-direction: column;
    
  }
}

.greeting {
  font-size: 0.8rem;
  font-weight: 600;
}


#logoutLink, #loginLink {
  
  background-color: black;
  padding: 10px 30px;
  border-radius: 50px;
  color: rgb(252, 249, 249);
  font-size: 1rem;
  width: 7rem;
}

#logoutLink:hover {
  cursor: pointer;
  background-color: #a1c407;
  color: black
}

#loginLink:hover {
  cursor: pointer;
  background-color: #a1c407;
  color: black
}
/* #logoutLink {
  font-size:large;
} */

ul {
  list-style: none;
}

h3{
  width: 100%;
  text-align: center;
  padding: 20px 0;  
  line-height: 1.2rem;
}


.account-trigger {
  position: absolute;
  top: 34px;
  right: 60px;
  cursor: pointer;
  background-color: black;
  padding: 10px 30px;
  border-radius: 50px;
  color: rgb(252, 249, 249);
  font-size: 1rem;
}

.account-trigger:hover {
  background-color: #a1c407;
  color: black
}

.dropdown-menu {
  position: absolute;
  top: 82px;
  right: 60px;
  background-color: #cbc7c7;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
  z-index: 10;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #cbc7c7;
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20);
  transition: 500ms ease;
}

.dropdown-menu ul {
  padding-inline-start: 10px;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(219, 218, 218, 0.486);
}

.dropdown-menu ul li:hover .dropdown-menu-links {
  color: red;
  cursor: pointer;
}

.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 500ms;
}

.dropdown-menu-links {
  max-width: 100px;
  transition: 500ms;
  
}

.dropdown-menu-links:hover {
  cursor: pointer;
}

.logo {
  height: 30px;
  width: 30px;
  
}

.arrow {
  color: #D97B00;
}

.pin {
  color: #D97B00;
  /* background-color: black; */
}
